.todo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #25264d;
  padding: 10px 0px 10px 10px;
  border: 1px solid white;
  border-radius: 10px;
}
div.todo + div.todo {
  margin-top: 10px;
}
.todo-info{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.todo-info-enabled{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.todo-info-enabled::before{
  content: "";
  position: absolute;
  left: 5px;
  bottom: 1rem;
  width: calc(100% - 10px);
  border-bottom: 1px solid white;
  animation-name: shape-div;
  animation-duration: 0.3s;
}
@keyframes shape-div{
  0% {width: 0%; margin:0 50%;}
 /*  25% {width: 25%; margin:0 37.5%;}
  50% {width: 50%; margin:0 25%;}
  75% {width: 75%; margin:0 12.5%;} */
  100% {width: calc(100%-10px);margin: 0;}
}
.todo-info-title{
  margin: 0px;
  width: 100%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 1rem;
  border: none;
  resize: none;
  outline: none;
}
.todo-info-title-enabled{
  margin: 0px;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 5px;
  font-size: 1rem;
  border:none;
  resize: none;
  outline: none;
}
textarea::-webkit-scrollbar{
  width: 0px;
}
.todo-date{
  position: relative;
  bottom: -5px;
  left: 5px;
  font-size: 0.8rem;
}
.todo-info-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 20%;
  padding: 0px;
}
.todo-info-icons-disabled{
  display: none;
}
.todo-info-icon-wrapper{
  display: flex;
  align-items: center;
}
.todo-info-updating{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  padding: 0px;
}
.todo-info-updating-disabled{
  display: none;
}
.todo-info-update-button{
  background-color: blueviolet;
  color: white;
  border: 1px solid white;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s linear;
}
.todo-info-update-button:hover{
  background: rgba(138, 43, 226, 0.80);
}
.accept-wrapper{
  display: none;
}

@media (max-width: 425px){
  .todo-info-title{
    padding: 5px 0px 5px 5px;
  }
  .todo-info-title-enabled{
    padding: 5px 0px 5px 5px;
  }
  .todo-info-icons{
    width: auto;
    flex-direction: column;
    padding: 0px 10px;
  }
  .todo-info-updating{
    width: auto;
    padding: 0px 10px;
  }
  .todo-info-update-button{
    display: none;
  }
  .accept-wrapper{
    display: flex;
  }
}
@media (min-width: 768px){
  .todo-info-update-button{ 
    height: auto;
    font-weight: 400;
    padding: 0.5rem 1rem;
  }
}