.todo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #25264d;
  padding: 10px 0px 10px 10px;
  border: 1px solid white;
  border-radius: 10px;
}
div.todo + div.todo {
  margin-top: 10px;
}
.todo-info{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.todo-info-title{
  margin: 0px;
  width: 100%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 1rem;
  border: none;
  resize: none;
  outline: none;
}
.todo-info-title-enabled{
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #7C7EFF;
  color: #101133;
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #A1A2F6;
  resize: none;
  outline: none;
}
textarea::-webkit-scrollbar{
  width: 0px;
}
.todo-date{
  position: relative;
  bottom: -5px;
  left: 5px;
  font-size: 0.8rem;
}
.todo-info-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 0px 15px;
}
.todo-info-icons-disabled{
  display: none;
}
.todo-info-icon-wrapper{
  display: flex;
  align-items: center;
}
.todo-info-updating{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 0px 15px;
}
.todo-info-updating-disabled{
  display: none;
}
.todo-info-update-button{
  background-color: blueviolet;
  color: white;
  border: 1px solid white;
  height: 30px;
  border-radius: 5px;
}
@media (max-width: 425px){
  .todo-info-title{
    padding: 5px 0px 5px 5px;
  }
  .todo-info-icons{
    width: auto;
    flex-direction: column;
    padding: 0px 10px;
  }
  .todo-info-updating{
    width: auto;
    padding: 0px 10px;
  }
  .todo-info-update-button{
    display: none;
  }
}