*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.todo-icon{
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.edit-icon{
  color: rgb(2, 204, 86);
  transition: all 0.2s linear;
}
.edit-icon:hover{
  color: rgba(2, 204, 86, 0.80)
}
.delete-icon{
  color: rgb(201, 0, 0);
  transition: all 0.2s linear;
}
.delete-icon:hover{
  color: rgba(201, 0, 0, 0.80);
}
