*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.todo-icon{
  width: 28px;
  height: 28px;
}
.edit-icon{
  color: rgb(2, 204, 86);
}
.delete-icon{
  color: rgb(201, 0, 0);
  margin-left: 5px
}